USE [master]
GO
/****** Object:  Database [lastikDb]    Script Date: 13.10.2025 16:43:37 ******/
CREATE DATABASE [lastikDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lastikDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\lastikDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lastikDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\lastikDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lastikDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lastikDb]
GO
/****** Object:  Table [dbo].[ebatlar]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebatlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[genislik] [decimal](5, 1) NOT NULL,
	[yukseklik] [decimal](5, 1) NOT NULL,
	[jant] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hizEndeksleri]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hizEndeksleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hizEndeks] [char](4) NOT NULL,
	[maksimumHiz] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[kullaniciAdi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[kullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[markalar]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[markalar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[markaAdi] [nvarchar](50) NOT NULL,
	[mensei] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteriler]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NOT NULL,
	[soyadi] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
	[adres] [nvarchar](200) NULL,
	[kayitTarihi] [datetime] NULL,
	[borc] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satislar]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satislar](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[urunId] [bigint] NOT NULL,
	[musteriId] [bigint] NOT NULL,
	[satilanAdet] [bigint] NOT NULL,
	[tarih] [datetime] NULL,
	[alinacakTutar] [decimal](10, 2) NOT NULL,
	[alinanTutar] [decimal](10, 2) NULL,
	[odendi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipler]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tip] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunAlimGecmisi]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunAlimGecmisi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[urunId] [bigint] NOT NULL,
	[alimTarihi] [datetime] NULL,
	[alisFiyati] [decimal](10, 2) NOT NULL,
	[alinanAdet] [bigint] NOT NULL,
	[aciklama] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[markaId] [int] NOT NULL,
	[model] [nvarchar](100) NOT NULL,
	[tipId] [int] NOT NULL,
	[ebatId] [int] NOT NULL,
	[hizEndeksId] [int] NOT NULL,
	[yukEndeksId] [int] NOT NULL,
	[adet] [bigint] NULL,
	[alisFiyati] [decimal](10, 2) NOT NULL,
	[satisFiyati] [decimal](10, 2) NOT NULL,
	[eklenmeTarihi] [datetime] NULL,
	[guncellenmeTarihi] [datetime] NULL,
	[aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yukEndeksleri]    Script Date: 13.10.2025 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yukEndeksleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yukEndeks] [int] NOT NULL,
	[lastikBasinaDusenKg] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[musteriler] ADD  DEFAULT (getdate()) FOR [kayitTarihi]
GO
ALTER TABLE [dbo].[musteriler] ADD  DEFAULT ((0)) FOR [borc]
GO
ALTER TABLE [dbo].[satislar] ADD  DEFAULT ((1)) FOR [satilanAdet]
GO
ALTER TABLE [dbo].[satislar] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[satislar] ADD  DEFAULT ((0)) FOR [alinanTutar]
GO
ALTER TABLE [dbo].[satislar] ADD  DEFAULT ((0)) FOR [odendi]
GO
ALTER TABLE [dbo].[urunAlimGecmisi] ADD  DEFAULT (getdate()) FOR [alimTarihi]
GO
ALTER TABLE [dbo].[urunler] ADD  DEFAULT ((0)) FOR [adet]
GO
ALTER TABLE [dbo].[urunler] ADD  DEFAULT (getdate()) FOR [eklenmeTarihi]
GO
ALTER TABLE [dbo].[urunler] ADD  DEFAULT (getdate()) FOR [guncellenmeTarihi]
GO
ALTER TABLE [dbo].[urunler] ADD  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[satislar]  WITH CHECK ADD FOREIGN KEY([musteriId])
REFERENCES [dbo].[musteriler] ([id])
GO
ALTER TABLE [dbo].[satislar]  WITH CHECK ADD FOREIGN KEY([urunId])
REFERENCES [dbo].[urunler] ([id])
GO
ALTER TABLE [dbo].[urunAlimGecmisi]  WITH CHECK ADD FOREIGN KEY([urunId])
REFERENCES [dbo].[urunler] ([id])
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD FOREIGN KEY([ebatId])
REFERENCES [dbo].[ebatlar] ([id])
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD FOREIGN KEY([hizEndeksId])
REFERENCES [dbo].[hizEndeksleri] ([id])
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD FOREIGN KEY([markaId])
REFERENCES [dbo].[markalar] ([id])
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD FOREIGN KEY([tipId])
REFERENCES [dbo].[tipler] ([id])
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD FOREIGN KEY([yukEndeksId])
REFERENCES [dbo].[yukEndeksleri] ([id])
GO
USE [master]
GO
